Repository JacobPolloreno/MatchZoo, changes with the owners that CODEOWNERS names for each.
All owners: @faneshion, @bwanglzu, @yangliuy, @pl8787, @wqh17101

CODEOWNERS:

# Watchers and contributors to MatchZoo repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor 
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.

#  Define individuals or teams that are responsible for code in a repository.

# global owner.
*       @faneshion

# third-party & project configuration
.coveragerc             @bwanglzu
.gitignore      	      @faneshion
.travis.yml     	      @bwanglzu
CONTRIBUTING.MD 	      @bwanglzu
Makefile        	      @bwanglzu
README.md       	      @yangliuy @pl8787
readthedocs.yml 	      @wqh17101 @bwanglzu
requirements.txt        @faneshion @pl8787
setup.py                @faneshion @pl8787

# artworks
/artworks/              @faneshion

# docs
/docs/                  @wqh17101 @bwanglzu

# tests
/tests/                 @faneshion @bwanglzu

# matchzoo
/matchzoo/engine/       @faneshion @bwanglzu @wqh17101
/matchzoo/models/       @yangliuy @pl8787 @bwanglzu @wqh17101
/matchzoo/preprocessor/ @bwanglzu @faneshion @wqh17101
/matchzoo/tasks/        @faneshion @bwanglzu @wqh17101
/matchzoo/generators/   @faneshion @pl8787 @yangliuy @wqh17101
/matchzoo/*             @bwanglzu @faneshion @wqh17101

bug fix setup.py install
  setup.py
Owners: @faneshion, @pl8787

add aws setup installation that ignores tensorflow and keras
  aws_setup.py
Owners: @faneshion

bug fix in awssetup.py
  aws_setup.py
Owners: @faneshion

add naming params for saving and loading files
  matchzoo/datapack.py
  matchzoo/engine/base_model.py
  matchzoo/engine/base_preprocessor.py
Owners: @bwanglzu, @faneshion, @wqh17101

update loss function for rank hinge loss
  matchzoo/losses.py
Owners: @bwanglzu, @faneshion, @wqh17101

add transform_list to dssm preprocessor for inference preprocessing
  matchzoo/preprocessor/dssm_preprocessor.py
Owners: @bwanglzu, @faneshion, @wqh17101

update upstream matchzoo
  matchzoo/embedding.py
  matchzoo/generators/list_generator.py
  matchzoo/models/arci_model.py
Owners: @bwanglzu, @faneshion, @wqh17101, @pl8787, @yangliuy

update upstream matchzoo
  matchzoo/generators/__init__.py
  matchzoo/generators/pair_generator.py
  matchzoo/generators/point_generator.py
  matchzoo/inputs/list_generator.py
  matchzoo/inputs/point_generator.py
  matchzoo/layers/DynamicMaxPooling.py
  matchzoo/layers/MultiPerspectiveMatch.py
  matchzoo/layers/SequenceMask.py
  matchzoo/layers/SpatialGRU.py
  matchzoo/models/__init__.py
  matchzoo/optimizers/optimizers.py
Owners: @faneshion, @pl8787, @yangliuy, @wqh17101, @bwanglzu
